@font-face {
    font-family: Madurai;
    src: url(./fonts/FiraSansExtraCondensed-Light.ttf);
}

@font-face {
    font-family: MaduraiReg;
    src: url(./fonts/FiraSansExtraCondensed-Regular.ttf);
}

@font-face {
    font-family: MaduraiBold;
    src: url(./fonts/FiraSansExtraCondensed-Bold.ttf);
}

@font-face {
    font-family: MaduraiExtraBold;
    src: url(./fonts/FiraSansExtraCondensed-ExtraBold.ttf);
}

@font-face {
    font-family: MaduraiMed;
    src: url(./fonts/FiraSansExtraCondensed-Medium.ttf);
}

*{
    font-family: MaduraiMed;
}

.main{
    background-color: black;
}